// 页面布局
.app {
  position: relative;
  width: 100%;
  height: 100%;
  //min-width: 1920px;
  overflow-x: auto;
  overflow-y: hidden;
  .flex-item {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .page_content {
    width: 100%;
    height: 100%;
    .splitpanes__pane {
      background-color: #fff !important;
    }

    header {
      padding: 8px;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      .header-item {
        display: inline-block;
        margin-right: 10px;
        .el-input {
          width: auto;
        }
        .el-select {
          display: inline-block;
          width: 150px;
        }
      }
      .header-item:last-child {
        margin-right: 0;
      }
    }
    article {
      height: calc(100% - 48px);
    }
  }
  .modal_content {
    header {
      padding-top: 0;
    }
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  .print {
    display: table-cell !important;
  }
}
